# Dependencies
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
.pnpm-debug.log

# Environment
.env
.env.local
.env.*.local

# Production
/dist/
/backend/dist/
/frontend/dist/

# Nuxt / Vue
.nuxt/
.output/

# Testing
/coverage/

# IDE / Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db
